<%= form_for(@match) do |f| %>
  <% if @match.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@match.errors.count, "error") %> prohibited this match from being saved:</h2>

      <ul>
      <% @match.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_date %><br>
    <%= f.datetime_select :match_date %>
  </div>
  <div class="field">
    <%= f.label :match_id %><br>
    <%= f.text_field :match_id %>
  </div>
  <div class="field">
    <%= f.label :home %><br>
    <%= f.text_field :home %>
  </div>
  <div class="field">
    <%= f.label :visitor %><br>
    <%= f.text_field :visitor %>
  </div>
  <div class="field">
    <%= f.label :goals_home %><br>
    <%= f.number_field :goals_home %>
  </div>
  <div class="field">
    <%= f.label :goals_visitor %><br>
    <%= f.number_field :goals_visitor %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
