<p id="notice"><%= notice %></p>

<p>
  <strong>Match date:</strong>
  <%= @match.match_date %>
</p>

<p>
  <strong>Match:</strong>
  <%= @match.match_id %>
</p>

<p>
  <strong>Home:</strong>
  <%= @match.home %>
</p>

<p>
  <strong>Visitor:</strong>
  <%= @match.visitor %>
</p>

<p>
  <strong>Goals home:</strong>
  <%= @match.goals_home %>
</p>

<p>
  <strong>Goals visitor:</strong>
  <%= @match.goals_visitor %>
</p>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
